* {box-sizing: border-box;}

@keyframes slide-in {
  100% {transform: translateX(0%);}
}

@keyframes slide-out {
  0% {transform: translateX(10%);}
  100% {transform: translateX(0%);}
}

.grid-wrapper {
  max-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 2rem;
  margin-left: 10%;
  margin-right: 10%;
}

.grid-title {
}
.grid-title h1 {
  text-transform: lowercase;
  text-align: left;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.grid-title p {
  text-align: left;
  text-transform: lowercase;
  font-weight: 100;
  margin: 0;
  padding: 0;
  color: var(--color-subtle);
}
.grid-title strong {
  font-weight: 600;
  color: var(--color-strong);
}

.grid-footer-title {
  text-align: center;
  text-transform: lowercase;
  font-weight: 100;
  color: var(--color-subtle);
}

.grid-header {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  border: 2px;
  border-radius: 5px;
  padding: 1rem;
  color: var(--color-accent);
}

.grid-content-right {
  grid-column: 1 / 3;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
  padding: 1rem;
  border: 1px solid var(--color-border);
  color: var(--color-accent);
  visibility: hidden;
  opacity: 0;
  animation: slide-out 0.8s forwards;
}
.grid-content-right.is-shown {
  transform: translateX(-10%);
  animation: slide-in .8s forwards;
  visibility: visible;
  opacity: 1;
}
.grid-content-right.adjust {
  grid-column: 1;
  visibility: visible;
  opacity: 1;
}

.grid-content-left {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--color-bg);
  color: var(--color-accent);
  visibility: hidden;
  opacity: 0;
}
.grid-content-left > main {
  position:absolute;
  top:0;
  left:0;
  right:0;
  max-height:100%;
  overflow:auto ;
}
.grid-content-left.is-shown {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateX(100%);
  animation: slide-in 0.8s forwards;
}

.grid-footer {
  grid-column: 1 / 3;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px;
  border-radius: 5px;
  padding: 1rem;
  color: var(--color-accent);
}
