/* Section ------------------ */

.section {
  position: relative;
  color: var(--color-accent);
}
  /* Hide */
/*  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-20px);
  transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
}
.section.is-shown {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
}*/

.section h1,
.section p {
  color: var(--color-accent);
}

.section-body {
  position: relative;
  max-width: 100%;
  margin: 1rem;
  padding: 1rem;
  color: var(--color-subtle);
}

.section-header {
  position: relative;
  max-width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 0;
  border-bottom: 1px solid var(--color-border);
  color: var(--color-accent);
}
/*@media (min-width: 940px) {
  .section-wrapper {
    padding-top: 4rem;
  }
}

.section-icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: .5em;
}*/
